body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-image: radial-gradient(circle, #6bd18e, #5fbe7f, #53ac70, #479a61, #3b8853, #348a4e, #2e8c48, #268e42, #22a440, #21ba3a, #25d02e, #31e716);;
    color:#fff;
    padding: 20px;
    text-align: center;
}
header img{
    width: 60px;
    margin-bottom: 48px;
    justify-self: center;
    border-radius: 60%;
}


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-container {
    width: 500px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
.video-container2 {
    width: 500px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
.video-container3{
    width: 500px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
.video-container4{
    width: 500px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

video {
    width: 100%;
    height: auto;
}

.caption {
    padding: 20px;
    text-align: center;
}

.caption h2 {
    margin-top: 0;
}

footer {
    background-image: radial-gradient(circle, #6bd18e, #5fbe7f, #53ac70, #479a61, #3b8853, #348a4e, #2e8c48, #268e42, #22a440, #21ba3a, #25d02e, #31e716);;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
display: inline;
text-decoration: none;
padding: 10px 10px ;


}
